.page-layout {
    max-width: 1200px;
    margin: auto;
}

.note {
    display: grid;
    grid-template-columns: repeat(2, 0.5fr) 1fr 0.5fr 1fr 1.4fr;
    margin: 1rem 0;
    column-gap: 10px;
}
.note__buttons {
    display: flex;
    flex-direction: row;   
}
.note__field {
    padding: 5px;
    align-items: center;
    display: flex;
}
.note__field--content {
}

.note__btn {
    margin: 10px;
}

.btn-archive {
    width: 100px;
}
/* stats */
.stats {
    display: grid;
    grid-template-columns: repeat(2, 0.5fr) 1fr 0.5fr 1fr 1.4fr;
    margin: 1rem 0;
    column-gap: 10px;
}

.stats__field {
    padding: 5px;
    align-items: center;
    display: flex;
}

/* form */
.note-forms-wrapper {
    display: flex;
    justify-content: space-between;
}

.note-form {
    display: flex;
    flex-direction: column;
}

.note-form__name-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}
.note-form__content-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}
.note-form__category-wrapper {
    display: flex;
    flex-direction: column;
    width: 150px;
    margin-bottom: 1rem;
}
.note-form__button-wrapper {
    
}

.viewmode {
    margin-top: 0.5rem
}