.note {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1rem;

}
.note__field {
    display: block;
    width: 150px;
}
.note__field--content {
    width: 300px;
}

.note__btn {
    display: flex;
    margin: 10px;
}

.note-forms-wrapper {
    display: flex;
    justify-content: space-evenly;
}

.note-form {
    display: flex;
    flex-direction: column;
}

.note-form__name-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}
.note-form__content-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}
.note-form__category-wrapper {
    display: flex;
    flex-direction: column;
    width: 150px;
    margin-bottom: 1rem;
}
.note-form__button-wrapper {
    
}

